default: &default
  adapter: mysql2
  pool: 10

development:
  username: hl_scraper
  password: hl_scraper
  database: hl_scraper_development
  <<: *default

test:
  username: hl_scraper
  password: hl_scraper
  database: hl_scraper_development
  <<: *default
