<div id="debug"></div>
<div id="msg"></div>

<h1 id="total-value"></h1>

<h1>Price</h1><h1>Value</h1>
<div class="bar-chart price-chart"></div>
<div class="bar-chart value-chart"></div>

<h1>Change</h1><h1>Spread</h1>
<div class="bar-chart-negatives"></div>
<div class="pie-chart"></div>
