<div id="debug"></div>
<div id="msg"></div>

<div class="row">
  <div class="col-md-10">
    <h1 id="total-value">Total: £XXX / £YYY</h1>
  </div>
  <div class="col-md-2">
    <div class="sidebar-nav affix">
      <h2>Legend</h2>
      <div class="legend-sidebar"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h1>Price</h1>
    <div class="bar-chart price-chart"></div>
  </div>
  <div class="col-md-5">
    <h1>Value</h1>
    <div class="bar-chart value-chart"></div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-5">
    <h1>Change</h1>
    <div class="bar-chart-negatives"></div>
  </div>
  <div class="col-md-5">
    <h1>Spread</h1>
    <div class="pie-chart"></div>
  </div>
</div>
