<div id="debug"></div>
<div id="msg"></div>
<h1 id="total-value"></h1>
<div class="chart"></div>

<style>
  .chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
</style>

<script>
  function draw_chart(chart_data){
    var x = d3.scale.linear()
    .domain([0, d3.max(chart_data)])
    .range([0, 420]);

    d3.select(".chart")
    .selectAll("div")
    .data(chart_data)
    .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });
  }
</script>
