<!DOCTYPE html>
<html>
  <head>
    <title>HLScraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script>
      var data = [];
      $(document).ready(function(){
        function debug(str){ $("#debug").append("<p>"+str+"</p>"); };

        ws = new WebSocket("ws://localhost:8080/api/holdings");
        ws.onmessage = function(evt) {
          data = JSON.parse(evt.data);
          var chart_data = [];
          var total_value = 0;

          $.each(data.stocks, function(i, stock){
            chart_data.push(stock.prices[3]);
            total_value += parseFloat(stock.prices[3]);
            console.log( parseFloat(stock.prices[3]));
          });

          $("#total-value").html(total_value);
          draw_chart(chart_data);

        };
        ws.onclose = function() { debug("socket closed"); };
        ws.onopen = function() {
          debug("connected...");
          ws.send("hello server");
        };
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
