<!DOCTYPE html>
<html>
  <head>
    <title>HLScraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="/js/charts.js" charset="utf-8"></script>
    <script src="/js/ws_stream.js" charset="utf-8"></script>

    <link href="/css/charts.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
